@import '../utils/variables';
@import '../utils/extends';

.RowPokemon {

    .ColPokemon {
        @extend %box;
        background-color: $gray;
        text-align: center;

        img {
            display: flex;
            margin: auto;
            width: 9em;
        }

        h3{
            color: #fff;
        }


    }

}